{# Master template #}
<!DOCTYPE html>

<html class="no-js" lang="en" dir="ltr">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
	<!-- For Custom Media Query Styles -->
	<meta class="mq-1441">
	<meta class="mq-1221">
	<meta class="mq-1025">
	<meta class="mq-701">
	<meta class="mq-700max">
	<meta class="mq-medsmall">
	<meta class="mq-small-820">
    <meta class="mq-small">
	
	{#
	<!-- Open Graph -->
	{% if entry.ogTitle|length %}{% set ogTitle = entry.ogTitle %}
	{% else %}{% set ogTitle = entry.title %}
	{% endif %}
	<meta property="og:title" content="{{ ogTitle }} | {{ seo.ogTitle }}" />

	<meta property="og:type" content="wmqsite" />
	<meta property="og:description" content="{{ entry.ogDescription }}" />
	<meta property="og:url" content="{{ craft.request.getUrl() }}" />
		 		
	{% if entry.ogImage | length %}{% set ogImageUrl = entry.ogImage.first().url %}
	{% else %}{% set ogImageUrl = seo.ogImage.first().url  %}
	{% endif %}	
	<meta property="og:image" content="{{ ogImageUrl|replace({'../': ''}) }}" />

	<!-- Apple Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	#}

	<title>
		{# Use OG Title or entry title (logic above) #}
		{# {{ ogTitle}} | {{ seo.ogTitle }} #}
	</title>

	<!-- CSS -->
    <link href="/dist/app.min.css?cb=1499790573082" rel="stylesheet" />
	
</head>

{# set body ID based on section #}
{% if "homepage" in entry.type|t %}{% set bodyId = "pg-homepage" %}
{% elseif "errorPage" in entry.type|t %}{% set bodyId = "pg-error" %}
{% else %}{% set bodyId = "pg-content" %}
{% endif %}

<body id="{# {{ bodyId }} #}">

	{# <!-- siteUrl = {{ siteUrl }} --> #}

	{# Header #}
	{% include('modules/_header.twig') %}

	<!-- BEGIN: Page Content -->
	{% block content %}

	{% endblock %}
	<!-- END: Page Content -->

	{# Footer #}
	{% include('modules/_footer.twig') %}
	<script>		
		$(document).ready(function(){	
			{% block footerscript %}{% endblock %}
		});
	</script>	

</body>

</html>